<!doctype html>
<html lang="en">
  <head>
    {{resources}}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.3.2.min.js"></script>

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Hello, David!</h2>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a target="_blank" href="https://www.heroku.com/">Heroku</a></li>
            <li><a target="_blank" href="http://flask.pocoo.org/">Flask</a></li>
            <li><a target="_blank" href="http://jinja.pocoo.org/">Jinja2</a></li>
            <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="myplot"></div>

    <script>
      fetch('/plot')
          .then(function(response) { return response.json(); })
          .then(function(item) { Bokeh.embed.embed_item(item, "myplot"); })
    </script>


  </body>
</html>

